In [1]:
import pandas as pd
import numpy as np

pd.__version__

'1.1.4'

In [4]:
courses_df=pd.read_csv("dataset/courses.csv")
users_df=pd.read_csv("dataset/users.csv")
activity_df=pd.read_csv("dataset/activity.csv")

In [6]:
courses_df.head()

,courseId,courseTitle,description,academicSession,org,modality
0,1,Introduction to Algebra,"Fundamental concepts of algebra, including exp...",Fall2020,MATH,f2f
1,2,Biology 101,Study of biology as it relates to humans and t...,Fall2020,BIOL,online
2,3,Intro to Python Programming,A first course in computer programming using t...,Fall2020,COMPSCI,hybrid
3,4,History of Ancient Civilizations,"In this course, we will study the emergence of...",Fall2020,HIST,hybrid

In [7]:
users_df.head()

   userId FirstName LastName     Role                 email  year
0    1001       Tom    Grove  Learner      tgrove@email.edu   1.0
1    1002      Lily     Chen  Learner       lchen@email.edu   NaN
2    1003       Jim   Folsom  Learner  jim.folsom@email.edu   2.0
3    1004      Dan    Rivera  Learner  rivera_dan@email.edu   1.0
4    1005   Brenda     Ulloa  Learner     brendau@email.edu   NaN

In [8]:
activity_df.head()

  timestamp (YYYY-MM-DD HH:MI:SS)  actor  action        object  course
0              2020-10-30 6:30:00   1001  viewed     /syllabus       2
1              2020-10-30 6:31:00   1001  viewed      /module1       2
2              2020-10-30 6:43:00   1001  viewed  /assignment1       2
3              2020-10-30 6:50:00   1001  viewed     /calendar       2
4             2020-10-31 10:10:20   1001  viewed     /syllabus       2