# Welcome to my test notebook

This is a tutorial on datalakes.

# Prepare

In [2]:
!pip install pandas
!pip install numpy

import pandas as pd
import numpy as np

pd.__version__

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.1.4)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2020.4)
Requirement already satisfied: numpy>=1.15.4 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.19.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.19.4)

'1.1.4'

# Part 1: Load Raw Dataset

In [11]:
courses_df=pd.read_csv("courses.csv")
users_df=pd.read_csv("users.csv")
caliper_df=pd.read_csv("TestCaliperEventData.csv")

In [5]:
courses_df.columns

Index(['sourcedId', 'status', 'dateLastModified', 'schoolYearSourcedId',
       'title', 'courseCode', 'grades', 'orgSourcedId', 'subjects',
       'subjectCodes'],
      dtype='object')

In [6]:
courses_df.head()

,sourcedId,status,dateLastModified,schoolYearSourcedId,title,courseCode,grades,orgSourcedId,subjects,subjectCodes
0,COURSE_01,active,2016-04-30T00:00:00Z,NaN,ADVANCED PLACEMENT WORLD HISTORY,NaN,NaN,ORG_01,NaN,NaN

In [7]:
users_df.columns

Index(['sourcedId', 'status', 'dateLastModified', 'enabledUser',
       'orgSourcedIds', 'role', 'username', 'userIds', 'givenName',
       'familyName', 'middleName', 'identifier', 'email', 'sms', 'phone',
       'agentSourcedIds', 'grades', 'password'],
      dtype='object')

In [8]:
users_df.head()

,sourcedId,status,dateLastModified,enabledUser,orgSourcedIds,role,username,userIds,givenName,familyName,middleName,identifier,email,sms,phone,agentSourcedIds,grades,password
0,student_01,active,2016-04-30T00:00:00Z,True,ORG_01,student,153792,NaN,Clark,Kent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [12]:
caliper_df.columns

Index(['data[0].actor.id', 'data[0].actor.type',
       'data[0].extensions["com.instructure.canvas"].job_id',
       'data[0].extensions["com.instructure.canvas"].job_tag',
       'data[0].extensions["com.instructure.canvas"].version',
       'data[0].eventtime', 'data[0].context', 'data[0].action', 'data[0].id',
       'data[0].type',
       ...
       'data[0].generated.maxscore.numberstr',
       'data[0].generated.attempt.extensions["com.instructure.canvas"].grade',
       'data[0].generated.attempt.id', 'data[0].generated.attempt.assignee.id',
       'data[0].generated.attempt.assignee.type',
       'data[0].generated.attempt.type',
       'data[0].generated.attempt.assignable.id',
       'data[0].generated.attempt.assignable.type',
       'data[0].object.extensions["com.instructure.canvas"].grade',
       'data[0].object.extensions["com.instructure.canvas"].is_announcement'],
      dtype='object', length=104)

In [13]:
caliper_df.head()

,data[0].actor.id,data[0].actor.type,"data[0].extensions[""com.instructure.canvas""].job_id","data[0].extensions[""com.instructure.canvas""].job_tag","data[0].extensions[""com.instructure.canvas""].version",data[0].eventtime,data[0].context,data[0].action,data[0].id,data[0].type,...,data[0].generated.maxscore.numberstr,"data[0].generated.attempt.extensions[""com.instructure.canvas""].grade",data[0].generated.attempt.id,data[0].generated.attempt.assignee.id,data[0].generated.attempt.assignee.type,data[0].generated.attempt.type,data[0].generated.attempt.assignable.id,data[0].generated.attempt.assignable.type,"data[0].object.extensions[""com.instructure.canvas""].grade","data[0].object.extensions[""com.instructure.canvas""].is_announcement"
0,urn:instructure:canvas:user:97140000000000002,Person,NaN,NaN,1.0.0,2020-05-16T23:53:46.458Z,http://purl.imsglobal.org/ctx/caliper/v1p1,NavigatedTo,urn:uuid:72954eea-6d21-43d3-a2bd-078787cadb50,NavigationEvent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,urn:instructure:canvas:user:97140000000000002,Person,NaN,NaN,1.0.0,2020-05-16T23:52:08.261Z,http://purl.imsglobal.org/ctx/caliper/v1p1,NavigatedTo,urn:uuid:c6866ebb-e903-44d0-bdd0-c3eda086cfbd,NavigationEvent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,urn:instructure:canvas:user:97140000000000002,Person,NaN,NaN,1.0.0,2020-05-16T23:51:21.834Z,http://purl.imsglobal.org/ctx/caliper/v1p1,NavigatedTo,urn:uuid:be5a5c5f-bae5-4e74-8108-600b55799434,NavigationEvent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,urn:instructure:canvas:user:97140000000000002,Person,NaN,NaN,1.0.0,2020-05-16T23:50:53.034Z,http://purl.imsglobal.org/ctx/caliper/v1p1,NavigatedTo,urn:uuid:8bf9a081-e64a-4ab8-83e6-a6115bf9ec37,NavigationEvent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,urn:instructure:canvas:user:97140000000000002,Person,NaN,NaN,1.0.0,2020-05-16T23:50:46.238Z,http://purl.imsglobal.org/ctx/caliper/v1p1,NavigatedTo,urn:uuid:be55da62-b037-4d36-8da7-dbbb89d4c79b,NavigationEvent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Part 2: Clean and combine

# Part 3: Query